<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> My Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<br>
<div class="topnav sticky">
    <center><h2>Shop More Stores</h2></center>
    <a href="/">Home</a>
    <a href="customerpage">Product</i></a>
    <a href="/">Logout</i></a>
</div>
<br>
<h1>welcome <span th:text="${userLogin}"></span></h1>
<div align="center">
    <table border="4" cellpadding="10">
        <thead>
        <tr>
            <!--            <th>Product ID</th>-->
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${allCart}">
            <!--            <td th:text="${product.id}">Product ID</td>-->
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td>
                <!--                <a th:href="@{'/edit/' + ${product.id}}">Edit</a>-->
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/cartdelete/' + ${product.id}}">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<footer>
    <a href="/">Home</a>
</footer>

</html>
